/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #24376F; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

.reference .reference-video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.reference .reference-video-holder iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.social {
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	width: 100%;
  }
  .social li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
  }
  .social li a {
	font-size: 16px;
	display: table;
	width: 40px;
	height: 40px;
	margin: 0 4px;
  }
  .social li a i {
	display: table-cell;
	vertical-align: middle;
  }
  .social li a:hover, .social li a:active, .social li a:focus {
	text-decoration: none;
	border-bottom: none;
  }
  .social li a.social-box {
	background: #3973BF;
	color: #fff;
	}
	.social li a.social-circle {
	background: #3973BF;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
  }
  .social li a:hover {
	background: #393e46 !important;
  }
  .social.social-box a {
	background: #3973BF;
	color: #fff;
  }
  .social.social-circle a {
	background: #3973BF;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
  }
  .social.social-circlegreen a {
		background: rgb(0,131,169);
		color: #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		}

/* temp code to be checked*/
/*
.arrow-down1 {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.arrow-down1:hover {
  background: #fff;
  color: #222;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.arrow-down1:focus {
  outline: 0;
  color: #fff;
}

 */